.footer 
    .footer__logo 
        img(src='#' alt='Natours logo')
    ul.footer__nav 
        li: a(href='#') About Us
        li: a(href='#') Contact
    p.footer__copyright &copy; by PlayCave