header.header
    div(class='header__logo')
        a(href="/") 
            img(src='/css/images/logo.jpeg' alt='PlayCave logo')
    nav.navbar.navbar-light.bg-light
        form#search-form.form-inline
            input#search.form-control.mr-sm-2.ip(type='search' placeholder='Explore Games' aria-label='Search')
            button.btn.btn-outline-success.my-2.my-sm-0.search(type='submit')
                | Search
    nav.nav.nav--user
        - if(user)
            a.nav__el.nav__el--logout Logout 
            a.nav__el(href='/me') 
                img.nav__user-img(src=`/img/users/${user.photo}` alt=`photo of ${user.name}`)
                span= user.name.split(' ')[0]
        -else
            a(class='nav__el' href='/login') Log In
            a(class='nav__el nav__el--cta' href='/login') Sign Up
