doctype html
html 
    head 
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(href='https://fonts.googleapis.com/css?family=Lato:300,300i,700' rel='stylesheet')
        link(rel='stylesheet' href='/css/style.css')
        title PlayCave | #{title}    
    body 
        // Header
        include _header

        // Content
        block content
            h1 just a place holder  

        // Footer
        include _footer
        script(type='module',src='/js/index.mjs')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.22.0/axios.min.js',integrity='sha512-m2ssMAtdCEYGWXQ8hXVG4Q39uKYtbfaJL5QMTbhl2kc6vYyubrKHhr6aLLXW4ITeXSywQLn1AhsAaqrJl8Acfg==',crossorigin='anonymous',referrerpolicy='no-referrer')